[submodule "performanceplatformselfserve/static/govuk_frontend_toolkit"]
	path = performanceplatformselfserve/static/govuk_frontend_toolkit
	url = https://github.com/alphagov/govuk_frontend_toolkit.git
[submodule "performanceplatformselfserve/static/govuk_elements"]
	path = performanceplatformselfserve/static/govuk_elements
	url = https://github.com/alphagov/govuk_elements.git
[submodule "performanceplatformselfserve/static/selectToAutocomplete"]
	path = performanceplatformselfserve/static/selectToAutocomplete
	url = git@github.com:JamieAppleseed/selectToAutocomplete.git
