
// overwrite styles from elements/tables
table th,
table td {
  padding: em(15) em(10) em(10) 0;
}

// custom styles

table th,
table td {
  @include core-19;
  vertical-align: top;

  .form-label-bold {
    display: none;
  }
}

.table-summary {
  border-top: 1px solid $border-colour;
}

.table-summary .is-not-editing {
  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    border-color: transparent;
    color: $text-colour;
  }

  .block-label {
    display: none;
    &.is-selected {
      display: block;
      float: none;
      padding: 0;
      background-color: transparent;
      border: 0 none;
      cursor: default;
      input {
        display: none;
      }
    }
  }
}

.form-group.text {
  @include grid-column( 2/3 );
}

.table-summary th {
  color: $secondary-text-colour;
  width: 10em;
  > label {
    line-height: 2;
  }
}

.table-summary--edit td:last-child {
  padding-right: 0;
  width: 6em;
  text-align: right;
}

.table-summary textarea {
  font-family: inherit;
  -webkit-appearance: none;
  resize: none;
}

.table-summary__grouped tr:not(:last-child) th,
.table-summary__grouped tr:not(:last-child) td {
  border-bottom: 0 none;
}

.table-summary__change {
  margin-right: 0;
}

.form-control-full-width {
  width: 100%;
}

.buttons {
  position: relative;
}

.buttons__inner {
  position: absolute;
  top: 0;
  right: 0;

  .button {
    @include button($grey-2);
  }
}
