.table-summary {
  border-top: 1px solid $border-colour;
}

.table-summary .is-not-editing {

  .form-control {
    border-color: transparent;
    color: $text-colour;
  }

  .block-label {
    display: none;
    &.is-selected {
      display: block;
      float: none;
      padding: 0;
      background-color: transparent;
      border: 0 none;
      cursor: default;
      input {
        display: none;
      }
    }
  }

  .table-summary__legend {
    display: none;
  }

}

.table-summary th {
  color: $secondary-text-colour;
  width: 10em;
  > label {
    line-height: 2;
  }
}

.table-summary--edit td:last-child {
  padding-right: 0;
  width: 6em;
  text-align: right;
}
.table-summary th,
.table-summary td {
  @include core-19;
  vertical-align: top;
}

.table-summary textarea {
  -webkit-appearance: none;
  resize: none;
}

.table-summary__grouped tr:not(:last-child) th,
.table-summary__grouped tr:not(:last-child) td {
  border-bottom: 0 none;
}

.table-summary__change {
  margin-right: 0;
}

.form-control-full-width {
  width: 100%;
}

.buttons {
  position: relative;
}

.buttons__inner {
  position: absolute;
  top: 0;
  right: 0;
}