
// govuk_frontend_toolkit imports
@import 'colours';
@import 'conditionals';
@import 'css3';
@import 'device-pixels';
@import 'grid_layout';
@import 'measurements';
@import 'shims';
@import 'typography';
@import 'design-patterns/buttons';

// govuk_elements imports
@import "elements/helpers";
@import "elements/reset";
// @import "elements/elements-typography";
@import "elements/layout";
// Modules
@import "elements/forms";
@import "elements/tables";
@import "elements/buttons";
@import "elements/details";
@import "elements/lists";
@import "elements/panels";
@import "elements/icons";

// performanceplatform-selfserve imports
@import "alpha-beta-badge";
@import "ppselfserve-typography";
@import "upload-page";
@import "summary-page";

.question-number {
  color: $secondary-text-colour;
  margin-top: 1.5em;
}

.button-external {
  @include button($link-colour);
}

.heading-confirmation {
  background-color: $turquoise;
  color: $white;
  padding: 30px;
  text-align: center;
}

.fa-check-square {
  color: $turquoise;
}

.hidden {
  display: none;
}

.block-label .form-control {
  position: static;
  vertical-align: middle;
}

.link-back {
  margin-right: 20px;
  > .fa {
    margin-right: 7px;
  }
}

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #D5E5F4;
  color: #161A1C;
}
