
// govuk_frontend_toolkit imports
@import 'colours';
@import 'conditionals';
@import 'css3';
@import 'device-pixels';
@import 'grid_layout';
@import 'measurements';
@import 'shims';
@import 'typography';
@import 'design-patterns/buttons';

// govuk_elements imports
@import "elements/helpers";
@import "elements/reset";
// @import "elements/elements-typography";
@import "elements/layout";
// Modules
@import "elements/forms";
@import "elements/tables";
@import "elements/buttons";
@import "elements/details";
@import "elements/lists";
@import "elements/panels";
@import "elements/icons";

// performanceplatform-selfserve imports
@import "alpha-beta-badge";
@import "ppselfserve-typography";
@import "choose-dashboard";
@import "upload-page";
@import "summary-page";

// overwrite elements/panels
.panel-indent {
  margin: $gutter-half 0 $gutter;
}

// overwrite elements/buttons
.button-get-started {
  background-image: url(/static/govuk_frontend_toolkit/images/icon-pointer.png);
  padding: em(7) em(41) em(4) em(16);

  @include device-pixel-ratio {
    background-image: url(/static/govuk_frontend_toolkit/images/icon-pointer-2x.png);
  }

  @include ie(6) {
    background-image: url(/static/govuk_frontend_toolkit/images//icon-pointer-2x.png);
  }
}

.button {
  margin: em(15) 0;
}

.button-external {
  @include button($link-colour);
}

.heading-confirmation {
  background-color: $turquoise;
  color: $white;
  padding: 30px;
  text-align: center;
}

.fa-check-square {
  color: $turquoise;
}

.hidden {
  display: none;
}

.block-label .form-control {
  position: static;
  vertical-align: middle;
}

.link-back {
  margin-right: 20px;
  > .fa {
    margin-right: 7px;
  }
}
