{% extends "layout.html" %}

{% block content %}
  <article class="text">
    <h1 class="heading-xlarge">Add data to a dashboard</h1>

    <p class="lede">Use this tool to add data about:</p>
    <ul class="list-bullet">
      <li>Annual transaction volume and cost</li>
      <li>4 digital KPIs</li>
    </ul>
    <div class="panel-indent">
      <p>You'll need the data you want to show.</p>

      <p>We'll review your data before it goes live on GOV.UK.</p>
    </div>
    <p>When you're done, your dashboard will look like <a href="https://www.gov.uk/performance/standard-dashboard">this example</a>.</p>

    <div class="get-started">
      <a class="button" href="/question1" role="button" rel="nofollow">Start now</a>
    </div>
    <h2 class="heading-medium">About the 4 digital KPIs</h2>

    <p>The 4 digital KPIs are part of the <a href="https://www.gov.uk/service-manual/measurement/other-kpis.html">Digital Service Design Manual</a>.</p>

    <p>They are:</p>
    <ul class="list-bullet">
      <li>Cost per transaction</li>
      <li>Digital take-up</li>
      <li>User satisfaction</li>
      <li>Completion rate</li>
    </ul>
  </article>
{% endblock %}