<fieldset class="form-group">
    <legend class="form-label-bold">Goals</legend>
    {{#items}}
        <label class="js-selectable block-label" for="goal-{{ id }}">
            <input class="js-goal" id="goal-{{ id }}" name="goal" type="radio" value="{{ name }}" required>
            {{ name }}
        </label>
        <input type="hidden" name="goallist" value="{{ name }}"/>
    {{/items}}
    {{^items}}
    <p>You need to <a href="https://support.google.com/analytics/answer/1032415">set up a goal</a> to track completion.</p>
    {{/items}}
</fieldset>