<div class="panel-indent">
    <table class="table-summary">
        <tbody>
        <tr class="table-summary__group">
            <th scope="row">Dashboard</th>
            <td>
                {{ title }}
            </td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{ description }}
            </td>
        </tr>
        <tr>
            <th scope="row">Organisation</th>
            <td>{{ department.title }}</td>
        </tr>
        </tbody>
    </table>
</div>