{% extends "layout.html" %}

{% block head %}
    <link href="/static/vendor/assets/bower_components/chosen_v1.3.0/chosen.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <article class="text">
        <form action="/question2/">
            {% csrf_token %}
            <div class="question-number">Question 1 of 5</div>
            <h1 class="heading-medium"><label for="dashboard">What dashboard do you want to add data to</label>?</h1>

            <div class="form-group">
                <select data-placeholder="Find a dashboard" class="js-dashboard form-control" id="dashboard" required>
                    <option value=""></option>

                    <option>Activity on GOV.UK</option>

                    <option>Activity on the Performance Platform
                    </option>

                    <option>Applications for a UK Visa</option>

                    <option>Apprenticeships: applications for
                        vacancies
                    </option>

                    <option>Attendance Allowance: existing claims
                    </option>

                    <option>Attorney General's Office</option>

                    <option>Birth, adoption, death, marriage and civil
                        partnership certificates ordered
                    </option>

                    <option>Blood donation appointments</option>

                    <option>Blood donation appointments</option>

                    <option>Budgeting Loans</option>

                    <option>Cabinet Office</option>

                    <option>Carer's Allowance applications</option>

                    <option>Carer's Allowance: changes in
                        circumstances
                    </option>

                    <option>Carer's Allowance: existing claims
                    </option>

                    <option>Cattle Tracing System: cattle births,
                        deaths and movements
                    </option>

                    <option>Certificate to get married abroad:
                        payments
                    </option>

                    <option>Chevening Scholarship applications
                    </option>

                    <option>Child Benefit transactions</option>

                    <option>Child maintenance transactions</option>

                    <option>Choose and Book: outpatient
                        appointments
                    </option>

                    <option>Civil claims: evicting a tenant using
                        accelerated possession
                    </option>

                    <option>Civil legal aid applications</option>

                    <option>Companies House: other document filing
                    </option>

                    <option>Company accounts filed</option>

                    <option>Company annual returns filed</option>

                    <option>Construction Industry Scheme
                        transactions
                    </option>

                    <option>Corporation Tax transactions</option>

                    <option>Court and Tribunal Finder</option>

                    <option>Court fine payments</option>

                    <option>Customs transactions</option>

                    <option>Dashboard of graphs</option>

                    <option>Dashboard of headline module</option>

                    <option>Debt collection transactions</option>

                    <option>Department for Business, Innovation and
                        Skills
                    </option>

                    <option>Department for Communities and Local
                        Government
                    </option>

                    <option>Department for Culture, Media and
                        Sport
                    </option>

                    <option>Department for Education</option>

                    <option>Department for Environment, Food and Rural
                        Affairs
                    </option>

                    <option>Department for International
                        Development
                    </option>

                    <option>Department for Transport</option>

                    <option>Department for Work and Pensions</option>

                    <option>Department of Energy and Climate
                        Change
                    </option>

                    <option>Department of Health</option>

                    <option>Deposit foreign marriage or civil
                        partnership certificates
                    </option>

                    <option>Destroyed or damaged vehicles reported
                    </option>

                    <option>Digital Marketplace</option>

                    <option>Digital Services Store</option>

                    <option>Digital by Default: Service
                        assessments
                    </option>

                    <option>Disability Living Allowance (DLA):
                        existing claims
                    </option>

                    <option>Document legalisation: payments for
                        drop-off service
                    </option>

                    <option>Document legalisation: payments for
                        service by post
                    </option>

                    <option>Driver &amp; Vehicle Licensing Agency
                    </option>

                    <option>Driver &amp; Vehicle Standards Agency
                    </option>

                    <option>Driving Standards Agency</option>

                    <option>Driving licence views</option>

                    <option>Driving licences: changes</option>

                    <option>Driving licences: fixed penalties and
                        endorsements changed or removed
                    </option>

                    <option>Driving licences: renewals</option>

                    <option>Driving licences: replacements</option>

                    <option>Driving licences: third-party checks
                    </option>

                    <option>Driving theory test bookings</option>

                    <option>Electronic Service Delivery for Abnormal
                        Loads (ESDAL): notifications
                    </option>

                    <option>Employment and Support Allowance (ESA):
                        new claims
                    </option>

                    <option>Employment related securities files
                    </option>

                    <option>Employment tribunal applications</option>

                    <option>Enhanced criminal records checks</option>

                    <option>Environment Agency</option>

                    <option>European Health Insurance Card (EHIC):
                        applications
                    </option>

                    <option>European Health Insurance Card
                        applications
                    </option>

                    <option>Excise Movement Control Service
                        transactions
                    </option>

                    <option>Find an apprenticeship</option>

                    <option>Fishing rod licence applications</option>

                    <option>Foreign &amp; Commonwealth Office</option>

                    <option>G-Cloud</option>

                    <option>GDS Service desk</option>

                    <option>Government transactional services</option>

                    <option>HM Prison Service</option>

                    <option>HM Revenue &amp; Customs</option>

                    <option>HM Treasury</option>

                    <option>HMRC agent authorisations</option>

                    <option>HMRC operations</option>

                    <option>HMRC transactions handled by email
                        (KANA)
                    </option>

                    <option>Home Office</option>

                    <option>Incapacity Benefit/ Employment and Support
                        Allowance (ESA): claims maintained
                    </option>

                    <option>Income Support: existing claims</option>

                    <option>Job search adviser interventions</option>

                    <option>Jobsearch reviews (signing on)</option>

                    <option>Jobseeker's Allowance (JSA): new
                        claims
                    </option>

                    <option>Jobseeker's Allowance: existing claims
                    </option>

                    <option>Kirklees: Library item renewals</option>

                    <option>Kirklees: Missed bin reporting</option>

                    <option>Land Registry: bulk register updates
                    </option>

                    <option>Land Registry: requests for official
                        copies of records
                    </option>

                    <option>Land Registry: searches for title
                        numbers
                    </option>

                    <option>Land Registry: searches of whole
                        register
                    </option>

                    <option>Land Registry: title plan views</option>

                    <option>Land Registry: title register views
                    </option>

                    <option>Land Registry: updates to the register
                    </option>

                    <option>Lasting Power of Attorney
                        registrations
                    </option>

                    <option>Learning Record Service: unique learner
                        numbers (ULNs) created
                    </option>

                    <option>Legal aid in criminal cases: acts of
                        assistance
                    </option>

                    <option>Licensing</option>

                    <option>Maritime &amp; Coastguard Agency</option>

                    <option>Ministry of Defence</option>

                    <option>Ministry of Justice</option>

                    <option>Money claims</option>

                    <option>National Insurance transactions</option>

                    <option>Northern Ireland Office</option>

                    <option>Office of the Advocate General for
                        Scotland
                    </option>

                    <option>Office of the Leader of the House of
                        Commons
                    </option>

                    <option>Office of the Leader of the House of
                        Lords
                    </option>

                    <option>Organ donation: registrations</option>

                    <option>PAYE for employees: check or update your
                        company car tax
                    </option>

                    <option>PAYE transactions</option>

                    <option>Passenger arrivals at the border</option>

                    <option>Passport applications</option>

                    <option>Patent renewals</option>

                    <option>Payments made by HMRC</option>

                    <option>Payments received by HMRC</option>

                    <option>Pension Credit calculator</option>

                    <option>Pension Credit: existing claims</option>

                    <option>Personalised registration: assign numbers
                        to vehicles
                    </option>

                    <option>Practical driving test (public users)
                    </option>

                    <option>Practical driving test bookings</option>

                    <option>Practical driving test bookings</option>

                    <option>Practical driving test changes and
                        cancellations
                    </option>

                    <option>Practical driving test: changes to
                        bookings
                    </option>

                    <option>Prescriptions: prepayment certificates
                        issued
                    </option>

                    <option>Prime Minister's Office, 10 Downing
                        Street
                    </option>

                    <option>Prison visit bookings</option>

                    <option>Provisional driving licence
                        applications
                    </option>

                    <option>Public Services Network</option>

                    <option>Redundancy Payments</option>

                    <option>Register a birth abroad: payments</option>

                    <option>Register a death abroad: payments</option>

                    <option>Registered Traveller</option>

                    <option>Report a lost or stolen passport</option>

                    <option>SORN (Statutory Off Road Notification)
                        applications
                    </option>

                    <option>Scotland Office</option>

                    <option>Self Assessment transactions</option>

                    <option>Service Submission Portal</option>

                    <option>Service manager induction and
                        development
                    </option>

                    <option>Single Payment Scheme (SPS) claims
                    </option>

                    <option>Solihull: Missed bin reporting</option>

                    <option>Stamp Duty Land Tax transactions</option>

                    <option>Stamp Duty Reserve Tax transactions
                    </option>

                    <option>Standard Dashboard: Example</option>

                    <option>State Pension: existing claims</option>

                    <option>State Pension: existing overseas
                        claims
                    </option>

                    <option>Student finance applications: ???
                        education, part-time study, England
                    </option>

                    <option>Student finance applications: higher
                        education, full-time study, England
                    </option>

                    <option>Student finance: applications for
                        full-time study support
                    </option>

                    <option>Tax</option>

                    <option>Tax Credits transactions</option>

                    <option>Test - new modules</option>

                    <option>The Charity Commission</option>

                    <option>The Deputy Prime Minister's Office
                    </option>

                    <option>UK Export Finance</option>

                    <option>UK Trade &amp; Investment</option>

                    <option>UK Visas and Immigration</option>

                    <option>Universal Jobmatch: CV uploads</option>

                    <option>Universal Jobmatch: jobseeker accounts
                        created
                    </option>

                    <option>Universal Jobmatch: vacancies placed by
                        employers
                    </option>

                    <option>VAT</option>

                    <option>VAT</option>

                    <option>VAT registrations and deregistrations
                    </option>

                    <option>VAT transactions</option>

                    <option>Vehicle &amp; Operator Services Agency
                    </option>

                    <option>Vehicle licensing</option>

                    <option>Vehicle registration certificates:
                        changes
                    </option>

                    <option>Vehicle registration: changes of
                        ownership
                    </option>

                    <option>Vehicle registrations</option>

                    <option>Vehicle tax renewals</option>

                    <option>Vehicle tax: checks by third-parties
                    </option>

                    <option>Vehicle tax: checks made by
                        individuals
                    </option>

                    <option>Vehicle tax: refunds</option>

                    <option>Visa applications</option>

                    <option>Voter registration</option>

                    <option>Wales Office</option>

                    <option>Warwickshire library item renewals
                    </option>

                    <option>Waste carrier registration</option>

                    <option>Written GP referrals to first outpatient
                        appointment
                    </option>

                    <option>e-petition signatures</option>
                </select>
            </div>
            <!--<div class="panel-indent">-->
            <!--<table class="table-summary">-->
            <!--<tbody>-->
            <!--<tr class="table-summary__group">-->
            <!--<th scope="row">Dashboard</th>-->
            <!--<td>-->
            <!--Company accounts filed-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<th scope="row">Description</th>-->
            <!--<td>All limited companies and limited liability partnerships must-->
            <!--file-->
            <!--their annual accounts so they're publicly available.-->
            <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<th scope="row">Organisation</th>-->
            <!--<td>Companies House</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->
            <p>
                <details>
                    <summary><span class="summary">I can't find my dashboard</span></summary>
                    <div class="panel-indent">
                        <p>
                            Help text
                        </p>
                    </div>
                </details>
            </p>
            <nav>
                <button class="button">Continue</button>
            </nav>
        </form>
    </article>
{% endblock %}

{% block javascript %}
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/static/vendor/assets/bower_components/chosen_v1.3.0/chosen.jquery.js"></script>
    <script>
        $('.js-dashboard').chosen();
    </script>
{% endblock %}