{% extends "layout.html" %}

{% block content %}
    <article class="text">
        <div class="question-number">Question 2 of 5</div>
        <form action="/question3">
            {% csrf_token %}
            <h1 class="heading-medium">Your details</h1>

            <p class="form-group">

                <label class="form-label" for="name">Full name</label>
                <input name="contact[name]" id="name" type="text" class="form-control" value="" required></p>

            <p class="form-group">

                <label class="form-label" for="email">Your email address</label>
                <input class="form-control" name="contact[email]" id="email" type="email" value="" required>
                <span class="form-hint">We use your email address to confirm that you work in government. NOTE - SHOULD ALSO STATE THIS WILL BE USED TO NOTIFY YOU WHEN DASHBOARD IS READY / FOR ANY OTHER COMMS?</span>
            </p>
            <nav>
                <button class="button">Continue</button>
            </nav>
        </form>
    </article>
{% endblock %}