{% extends "layout.html" %}

{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <article class="text">
        <div class="question-number">Question 4 of 5</div>
        <h1 class="heading-medium">Transaction volumes by channel</h1>

        <p>
            We need to know the number of times people complete your transaction and how they do so.
        </p>

        <p>We use this information to calculate your digital take-up.</p>

        <div class="form-group">
            <form action="/upload" id="upload" class="dropzone">
                <div class="fallback">
                    <input name="upload" type="file" multiple/>
                </div>
            </form>
        </div>
        <form action="/question5">
            <input type="hidden" name="channels_use_direct_api" value="yes" />
            <div class="form-group">
                <details>
                    <summary><span class="summary">I want to add a direct feed to my transaction's API</span></summary>
                    <div class="panel-indent">
                        <p>
                            We will email you to set up an API connection.
                        </p>

                        <p>
                            <button class="button">Continue without uploading</button>
                        </p>
                    </div>
                </details>
            </div>
        </form>
        <form action="/question5">
            <nav>
                <button class="button">Continue</button>
            </nav>
        </form>
    </article>
{% endblock %}

{% block javascript %}
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/static/vendor/assets/bower_components/dropzone/dropzone.js"></script>
    <script>
        Dropzone.options.upload = {
            init: function () {
                this.on("addedfile", function (file) {
                    $('.dz-message').remove();
                });
            },
            autoProcessQueue: false,
            dictDefaultMessage: 'Drag and drop example-data-import.xls here to upload, or click here to browse for it.',
            previewTemplate: '<div><span class="fa fa-2x fa-check-square"></span><p>example-data-import.xls uploaded successfully</p></div>'
        };
    </script>
{% endblock %}