{% extends "performanceplatform-selfserve.html" %}

{% block page_title %}Transaction volumes by channel - GOV.UK Performance{% endblock %}

{% block head %}
<link href="/static/stylesheets/application.css" rel="stylesheet"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block selfserve_content %}

  <p class="question-number">
    <a class="link-back" href="/question3"><span class="fa fa-caret-left"></span>Back</a> Question 4 of 5
  </p>

  <div class="grid-row">
    <div class="text">

      <h1 class="midi">Transaction volumes by channel</h1>

      <p>We need to know the number of times people complete your transaction and how they do so.</p>

      <p>We use this information to calculate your digital take-up.</p>

      <h2>Upload data using a spreadsheet</h2>

      <p>You'll need to commit to keeping this information up to date on a weekly or monthly basis.</p>
    </div>
  </div>

  <ol class="upload-steps grid-row">
    <li class="upload-step column-third">
      <h3>Step 1</h3>
      <p>Save the example spreadsheet</p>
      <div class="step-1-img">&nbsp;</div>
    </li>

    <li class="upload-step column-third">
      <h3>Step 2</h3>
      <p>Add data to the spreadsheet</p>
      <div class="step-2-img">&nbsp;</div>
    </li>

    <li class="upload-step column-third">
      <h3>Step 3</h3>
      <p>Upload the completed spreadsheet</p>

      <div class="form-group">
        <form action="/upload" id="upload" class="dropzone">
          <div class="fallback">
            <input name="upload" type="file" multiple/>
          </div>
        </form>
      </div>
    </li>
  </ol>

  <div class="grid-row">
    <form action="{{ next_page }}">

      <input type="hidden" name="channels_use_direct_api" value="yes" />

      <div class="form-group">
        <details>
          <summary><span class="summary">I want to add a direct feed to my transaction's API</span></summary>

          <div class="panel-indent">
            <p>We will email you to set up an API connection.</p>
            <p><button class="button">Continue without uploading</button></p>
          </div>

        </details>
      </div>

    </form>

    <form action="{{ next_page }}">
      <nav>
        <button class="button">Continue</button>
      </nav>
    </form>
  </div>

{% endblock %}

{% block body_end %}
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/static/vendor/assets/bower_components/dropzone/dropzone.js"></script>
<script>
  Dropzone.options.upload = {
    init: function () {
      this.on("addedfile", function (file) {
        $('.dz-message').remove();
      });
    },
    autoProcessQueue: false,
    dictDefaultMessage: '<p>Drag and drop to upload your completed spreadsheet, or click here</p>',
    previewTemplate: '<div><span class="fa fa-2x fa-check-square"></span><p>example-data-import.xls uploaded successfully</p></div>'
  };
</script>
{% endblock %}
