{% extends "layout.html" %}

{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <article class="text">
        <form action="/summary">
            <div class="question-number">Question 5 of 5</div>
            <h1 class="heading-medium">Connect to Google Analytics</h1>

            <div class="form-group js-ga-connect-status">
                <p>
                    We use your analytics data to compute your completion rate.
                </p>

                <button class="button button-external js-connect-ga" type="button">Connect to Google
                    Analytics
                </button>
            </div>
            <fieldset class="form-group hidden js-views-container">
                <legend class="form-label-bold">Profiles</legend>
                <div class="js-views"></div>
            </fieldset>

                <details class="form-group js-help">
                    <summary><span class="summary">I'm not using Google Analytics</span></summary>
                    <div class="panel-indent">
                        <fieldset class="form-group">
                            <legend class="form-label-bold">Which analytics provider are you using?</legend>

                            <label class="js-selectable block-label" for="analytics-omniture">
                                <input  id="analytics" name="analytics-omniture" type="radio" value="omniture">
                                Omniture
                            </label>
                            <label class="js-selectable block-label" for="analytics-piwik">
                                <input  id="analytics" name="analytics-piwik" type="radio" value="piwik">
                                Piwik
                            </label>
                            <label class="js-selectable block-label" for="analytics-webtrends">
                                <input  id="analytics" name="analytics-webtrends" type="radio" value="webtrends">
                                WebTrends
                            </label>
                            <label class="js-selectable block-label" for="analytics-other">
                                <input  id="analytics" name="analytics-other" type="radio" value="other">
                                Other: <input class="form-control" type="text" />
                            </label>
                        </fieldset>
                            <p>We will email you to help set up your analytics.</p>
                    </div>
                </details>
            <div class="js-goals">
            </div>
            <nav>
                <button class="button">Continue</button>
            </nav>
        </form>
    </article>
{% endblock %}

{% block javascript %}
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/static/vendor/assets/bower_components/mustache/mustache.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="/static/js/ga-auth.js"></script>
{% endblock %}