{% extends "layout.html" %}

{% block content %}
    <article>
        <form action="/confirmation">
            <h1 class="heading-medium">Check your dashboard before you send it for review</h1>

            <div class="form-group">
                <table class="table-summary table-summary--edit">
                    <tbody class="js-edit-group is-not-editing table-summary__grouped">
                    <tr>
                        <th scope="row"><label for="dashboard">Dashboard</label></th>
                        <td>
                            <input class="form-control form-control-full-width"
                                   name="dashboard" id="dashboard" type="text" disabled
                                   value="{% firstof new_dashboard_name dashboard_name %}"/>
                        </td>
                        <td>
                            <div class="buttons">
                                <div class="buttons__inner">
                                    <button class="js-change button table-summary__change" type="button">
                                        Change
                                    </button>
                                    <button class="js-cancel hidden button table-summary__change" type="button">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="dashboard-description">Description</label></th>
                        <td><textarea
                                class="form-control form-control-full-width"
                                name="dashboard-description"
                                id="dashboard-description"
                                disabled>{% firstof new_dashboard_description dashboard_description %}</textarea>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="dashboard-organisation">Organisation</label></th>
                        <td><input
                                class="js-field-organisation form-control form-control-full-width"
                                name="dashboard-organisation"
                                id="dashboard-organisation"
                                type="text" readonly value="{% firstof new_dashboard_organisation dashboard_organisation %}"/>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                    <tbody class="js-edit-group is-not-editing table-summary__grouped">
                    <tr>
                        <th scope="row"><label for="name">Name</label></th>
                        <td><input name="contact[name]" id="name" type="text"
                                   class="form-control form-control-full-width"
                                   value="{{ contact_name }}"
                                   readonly>
                        </td>
                        <td>
                            <div class="buttons">
                                <div class="buttons__inner">
                                    <button class="js-change button table-summary__change" data-target="js-field-name"
                                            type="button">
                                        Change
                                    </button>
                                    <button class="js-cancel hidden button table-summary__change" type="button">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="email">Email</label></th>
                        <td><input name="contact[email]" id="email" type="email"
                                   class="form-control form-control-full-width"
                                   value="{{ contact_email }}"
                                   readonly>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                    <tr class="js-edit-group is-not-editing">
                        <th scope="row">Channels</th>
                        <td>
                            {% include "partial_channels.html" %}
                        </td>
                        <td>
                            <div class="buttons">
                                <div class="buttons__inner">
                                    <button class="js-change button table-summary__change"
                                            data-target="js-field-channels"
                                            type="button">
                                        Change
                                    </button>
                                    <button class="js-cancel hidden button table-summary__change" type="button">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="js-edit-group is-not-editing">
                        <th scope="row">Transactions</th>
                        <td>
                            <p>Uploaded file:</p>
                            <div>example-data-import.xls</div>
                            OR
                            <p>We will email you to set up an API connection.</p>
                        </td>
                        <td>
                            <div class="buttons">
                                <div class="buttons__inner">
                                    <button class="js-change button table-summary__change"
                                            data-target="js-field-transactions"
                                            type="button">
                                        Change
                                    </button>
                                    <button class="js-cancel hidden button table-summary__change" type="button">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tbody class="js-edit-group is-not-editing table-summary__grouped">

                    <tr>
                        <th scope="row">Analytics</th>
                        <td>Google Analytics connected</td>
                        <td>
                            <div class="buttons">
                                <div class="buttons__inner">
                                    <button class="js-change button table-summary__change" type="button">Change</button>
                                    <button class="js-cancel hidden button table-summary__change" type="button">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">View ID</th>
                        <td>
                            <div class="js-views">
                                <fieldset>
                                    <legend class="table-summary__legend form-label-bold">View</legend>
                                    {% for item in items %}

                                    {% endfor %}
                                    <label class="block-label">
                                        <input class="js-selectable" name="views" type="radio" value="website" readonly>
                                        Whole site
                                    </label>
                                    <label class="is-selected block-label">
                                        <input class="js-selectable" name="views" type="radio" value="mobileapp" checked
                                               readonly>
                                        Admin views
                                    </label>
                                    <label class="block-label">
                                        <input class="js-selectable" name="views" type="radio" value="api" readonly>
                                        Third party integration
                                    </label>
                                </fieldset>
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Goal ID</th>
                        <td>
                            <div class="js-goals">
                                <fieldset>
                                    <legend class="table-summary__legend form-label-bold">Goal</legend>
                                    <label class="is-selected block-label">
                                        <input class="js-selectable" name="goals" type="radio" value="website" checked
                                               readonly>
                                        tx-complete
                                    </label>
                                    <label class="block-label">
                                        <input class="js-selectable" name="goals" type="radio" value="mobileapp"
                                               readonly>
                                        refusal
                                    </label>
                                    <label class="block-label">
                                        <input class="js-selectable" name="goals" type="radio" value="api" readonly>
                                        lemon party
                                    </label>
                                </fieldset>
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label for="anything-else">Anything else?</label>
                    <textarea class="form-control form-control-full-width"
                              id="anything-else"
                              name="notes" rows="3"></textarea>
            </div>

            <nav>
                <a class="button button-external" href="https://www.gov.uk/performance/standard-dashboard"
                   target="_blank">Preview dashboard</a>
                <button class="button">Send for review</button>
            </nav>
        </form>
    </article>
{% endblock %}

{% block javascript %}
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/static/vendor/assets/bower_components/jquery_autosize/jquery.autosize.min.js"></script>
    <script src="/static/js/summary.js"></script>
{% endblock %}